@charset "UTF-8";
/* This is a comment! Text here will be ignored by the browser. */
body {
	margin: 0 auto;
	font: 100%/1.4 Verdana, Arial, Helvetica, Bradley Hand, cursive;}
.homePage {
	background: #FFCB94;
}
.container {
	width: 960px;
	margin: 0 auto;
}
.header {
	background: #FF7559;
	text-align: center;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 80px;
	
}
.nav {
	background: #FF813D;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 60px;
	text-align: center;
}
.content {
	background: #FFEAAE;
	margin: 0px;
	float: left;
	width: 100%;
	text-align: left;
}
.footer {
	background: #FFAC54;
	margin: 0px;
	float: left;
	width: 100%;
	height: 50px;
	text-align: center;
}
	a:link {
     color: #FFFFFF;
}
a:visited {
     color: #FFAC54;
}
a:hover, a:active, a:focus { 
     text-decoration: underline;
}
